<div id='main-content'>
	<div id='img-wrap'>
	<img id='theimg' src="http://janthoma.ch/wp-content/uploads/2013/08/Unbenanntes_Panorama2.jpg">
		<div id='top-img'>
		<p id='big-quote'>This is an example of a succesful project in <span class='category'>
			<b class='art' data-category-name='art'>art.</b>
			<b class='reading' data-category-name='reading'>reading.</b>
			<b class='writing' data-category-name='writing'>writing.</b>
			<b class='exercise' data-category-name='excersize'>exercise.</b>
		</span></p>
			<div id='bot-img'>
			<ul id='lil-quotes'>
				<li id='quote'>"This is Awesome!" <span id='name'>-Ben</span></li>
				<li id='quote1'>"I like turtles" <span id='name'>-Amer</span></li>
			</ul>
			</div>
		</div>
	</div>
	<h2 id='description'>We are TeamEffort, this is our description!</h2>
</div>