<head>
<title>TeamEffort</title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<div id="header-wrap">
	<div class="container id "header>
		<h1 id="logo">
			<a href="/">Team<span id='efrt'>Effort</span></a>
		</h1>
		<div id='what'>
		<%= link_to 'What is Team Effort', about_us_path%></div>
		<ul id="menu-main">
			<li id="menu-main-discover"><strong>Discover</strong><span> great pledges</span></li>
			<li id="menu-main-npledge"><strong>Start</strong><span> a pledge</span></li>
		</ul>
	</div>
</div>
</body>
