/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#header-wrap{
	background-color: white;
	border-bottom: 1px solid rgb(208, 213, 203);
}

#logo {
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: baseline;
	width: 160px;
	height: 20px;
	cursor: auto;
}

#logo a {
	color: black;
	font-family: sans-serif;
	text-decoration: none;
}
#efrt{
	color: green;
}

body div div h1 a:visited {
	text-decoration: none;
	color: green;
}

#what{
	color: black;
}